<!DOCTYPE html>
    <head>
        <title>BTP</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body >
        <div class="container" style="">
            <div class="header">
                <div class="row" style="text-align:center;margin-top:2vh;">
                    <div class="col-sm-3">
                        <img height="200px" width="200px" src="{{url_for('static',filename='nsut.png')}}">
                    </div>
                    <div class="col-sm-9" style="padding-top:5%">
                        <h1 style="font-family:roboto;font-size:3.5rem;">Bachelor's Thesis Project</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12" style="font-size:23px;text-align:center;">
                        <b>COLORIZATION OF GRAYSCALE IMAGES/VIDEOS USING CONVOLUTIONAL NEURAL NETWORK </b><br>
                        <b>under the guidance of - <u>Dr.Sangeeta Sabharwal</u>
                        </b>
                    </div>
                </div>
                <div class="row" style="margin-top:10vh;font-size:23px;">
                    <div class="col-sm-6" style="text-align:center;" data-toggle="modal" data-target="#randomModal">
                        <a type="button" class="btn btn-outline-dark">Automatic Demo</a>
                    </div>
                    <div class="col-sm-6" style="text-align:center;" data-toggle="modal" data-target="#specificModal">
                        <a type="button" class="btn btn-outline-dark">Specific Demo</a>
                    </div>
                </div> 
                <!-- Modal -->
                <div class="modal fade" id="randomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Automatic Demo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="/randomDemo" method="POST">
                          <div class="modal-body">
                            <label for="numberOfSamples">Samples</label>
                            <input type="text" id="numberOfSamples" name="samples" >
                          </div>
                          <div class="modal-footer">
                            <button type="button"  class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button type="submit"  class="btn btn-outline-success">Colorize</button>
                          </div>    
                       </form>   
                    </div>
                  </div>
                </div>
                <!-- Specific INput MOdal-->
                <div class="modal fade" id="specificModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Upload File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="/specificDemo" method="POST" enctype="multipart/form-data">
                          <div class="modal-body">
                            <label for="file"></label>
                            <input type="file" id="file" name="file">
                          </div>
                          <div class="modal-footer">
                            <button type="button"  class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button type="submit"  class="btn btn-outline-success">Colorize</button>
                          </div>    
                       </form>   
                    </div>
                  </div>
                </div>
            </div>
            <div class="result" style="display:none;">
            
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
<script>
</script>
<style>
.btn-outline-dark:hover{
    color:white !important;
}
</style>